$font-pack-main-titles : "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
$font-pack-heading : "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
$font-pack-text-block : "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

$primary-Blue : #2891CB;

$auto-margin: 10px 10px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
