body {
    #app {
        font-family:"Georgia","Times New Roman",Helvetica,Arial,sans-serif;
        font-size: 16px;
        color:#444;
        
        p { 
        color: #000;
        text-align: right;
        }
    }
    
    header {
        margin: $auto-margin
        h1 {
            color: $primary-Blue;
        }
    }
    
    .btn {
        background-color: $primary-Blue;
        border: 1px solid #777;
        @include border-radius(6px);
    }
}
