body {
    #app {
        font-family:"Georgia","Times New Roman",Helvetica,Arial,sans-serif;
        font-size: 16px;
        color:#444;
    }
    p { 
        color: #000;
        text-align: right;
    }
}
